.swiper {
	--swiper-navigation-color: rgb(0 0 0 / 0.87);
	--swiper-pagination-color: rgb(0 0 0 / 0.87);
	max-width: 100%;
	padding-bottom: 48px;
}
.dark .swiper {
	--swiper-navigation-color: rgb(255 255 255 / 1);
	--swiper-pagination-color: rgb(255 255 255 / 1);
}
.swiper .swiper-slide {
	max-width: fit-content;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
	top: calc(50% - 24px);
}
